* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-size: 62.5%;
}
.container {
    background-color: rgb(152, 152, 152);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-items {
    justify-content: space-between;
}
.botao {
    width: 150px;
    height: 60px;
    background-color: blueviolet;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
}
.botao p {
    color: white;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
.botao p:hover {
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
}